body {
  margin: 0;
  background-color: var(--bg-color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg-header);
  backdrop-filter: blur(12px);
  z-index: 9;
}
header .container {
  padding: 1rem;
}

header nav {
  font-weight: 700;
  margin-right: 2rem;
}

.dark #moon-icon {
  display: none;
}
#sun-icon {
  display: none;
}

.dark #sun-icon {
  display: inline-block;
}

.title-sub-title-container {
  padding: 2rem 1rem;
}
section .title-container {
  max-width: 768px;
  margin-inline: auto;
  text-align: center;
}
section h1.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin-bottom: 1rem;
  margin-top: 0;
}
section .sub-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-gray);
  font-weight: 300;
  margin-top: 0;
}

/* course card style start  */
.course-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course-card {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgb(0, 0, 0, 0.1),
    0 8px 10px -6px rgb(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--card-bg);
  border: 1px solid transparent;
}
.dark .course-card:nth-child(2) {
  box-shadow: 0 0 40px 15px rgba(59, 130, 246, 0.2);
}
.course-card:hover {
  border: 1px solid rgb(var(--base-color));
}
.course-card.large {
  transform: scale(1.05);
}

.course-card img {
  width: 100%;
  cursor: pointer;
}
.course-card img + div {
  padding-inline: 1.5rem;
}
.course-card .description {
  color: var(--text-gray);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
  text-align: center;
  margin-block: 0;
}

.course-card .price {
  text-align: center;
  margin-block: 1rem;
}
.price .original-price {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-gray);
  opacity: 0.6;
  font-weight: 700;
  margin-right: 0.5rem;
}
.price .offer-price {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.course-card .features {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}
.features li {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.course-card .buy-btn {
  background-color: rgb(var(--base-color));
  color: #fff;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-block: 0.625rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}
.course-card .buy-btn:hover,
.course-card .buy-btn:focus,
.course-card .buy-btn:active {
  /* background-color: var(--bg-base-color); */
  background-color: rgb(var(--bg-base-color));
  box-shadow: 0 0 0px 4px rgba(var(--bg-base-color), 0.3);
}

/* course card style end  */

/* footer start  */
footer {
  margin-block: 4rem 2rem;
}
footer small {
  color: var(--text-gray);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

footer .social-icons {
  display: flex;
  gap: 1.25rem;
}
.social-icons a {
  color: var(--text-gray);
  transition: color 0.1s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
}
/* footer end  */

@media (max-width: 1024px) {
  .course-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .course-card.large {
    transform: scale(1);
  }
  .course-card:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media (max-width: 768px) {
  section h1.title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .price .offer-price {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .price .original-price {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .features {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
@media (max-width: 640px) {
  section .sub-title {
    font-size: 1rem;
  }
  .course-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    margin-block: 1.5rem;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer small {
    order: 3;
  }
}

@media (max-width: 540px) {
  .logo {
    font-size: 1.3rem;
  }
  .logo img {
    height: 20px;
  }
  header nav {
    font-weight: 600;
    margin-right: 1.5rem;
  }
  #moon-icon {
    width: 20px;
  }
}
