.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.justify-space-between {
  justify-content: space-between;
}
